:root{
    --primary-color:  #7AC143;
    --secondary-color: #518611;
    --tertiary-color: #E4FED8;
  
}

.bg-body-custom{
    background-color: black;
}

.primary-color{
    color: var(--primary-color);
}

.bg-btn-custom {
    background-color: var(--tertiary-color);
}

.bg-custom-primary {
    background-color: #EEE;
}

.bg-navigation-primary {
    background-color: var(--primary-color);
    color: white;
}

.bg-white {
    background-color: white;
}

.btn-custom {
    background-color: var(--tertiary-color);
    color: white;
    border: 1px solid var(--primary-color)
}

.link-hover:hover {
    background-color: var(--secondary-color);
}

.text-primary {
    font-size: 18px;
    color: white;
}

navbar-hover:hover {
    background-color: black;
}

#carouselExampleAutoplaying {
    height: 500px !important;
    width: 20%;
}