.img {
    min-width: 500px;
    height: 450px;
    padding: 5px;
    margin:0;
    box-sizing: border-box;
}

.tombol-hapus {
    color: black;
}

.tombol-hapus:hover {
    color: rgb(70, 189, 70);
}